body {
    background-color: orange;
    color: black;
    font-family: "chakra petch" , sans-serif
    margin: 0px;
}

head {
    border-bottom: solid 4px blue(42, 122, 228);
    padding: 20px;
    font-size: 44px;
    colar: blu